<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <ColonyManagerRedux.SharedSettingsTabLabel>Shared</ColonyManagerRedux.SharedSettingsTabLabel>
    <ColonyManagerRedux.GeneralSettingsTabLabel>General</ColonyManagerRedux.GeneralSettingsTabLabel>

    <ColonyManagerRedux.ManagerDefaultUpdateInterval>Default update interval</ColonyManagerRedux.ManagerDefaultUpdateInterval>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated>New jobs should be immediately handled</ColonyManagerRedux.NewJobsAreImmediatelyOutdated>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>When this setting is enabled, a newly created manager job will immediately require a manager to go deal with it. Otherwise, the job will start out as updated and not be worked on until its update interval elapses for the first time.</ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>
    <ColonyManagerRedux.RecordHistoricalData>Record historical data</ColonyManagerRedux.RecordHistoricalData>
    <ColonyManagerRedux.RecordHistoricalData.Tip>With this setting enabled, the mod will, for each manager job that exists, ask it to record its data a certain number of times per day, data which later gets used to show graphs of how the values have changed over time. This data recording process isn't free, so if you're having performance issues, you could try turning this setting off.</ColonyManagerRedux.RecordHistoricalData.Tip>

    <ColonyManagerRedux.ManagerJobSettings.DefaultThresholdSettings>Default threshold settings</ColonyManagerRedux.ManagerJobSettings.DefaultThresholdSettings>
    <ColonyManagerRedux.ManagerJobSettings.TargetCount>Target count: {0}</ColonyManagerRedux.ManagerJobSettings.TargetCount>
</LanguageData>
