<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <ColonyManagerRedux.SharedSettingsTabLabel>Shared</ColonyManagerRedux.SharedSettingsTabLabel>
    <ColonyManagerRedux.JobDefaultsTabLabel>Job Defaults</ColonyManagerRedux.JobDefaultsTabLabel>
    <ColonyManagerRedux.GeneralSettingsTabLabel>General</ColonyManagerRedux.GeneralSettingsTabLabel>
    <ColonyManagerRedux.DoVerboseLogging>DEV: Enable verbose logging</ColonyManagerRedux.DoVerboseLogging>
    <ColonyManagerRedux.DoVerboseLogging.Tip>Enables verbose logging for the mod. This will log a lot of information to the log file, which can be useful for debugging issues, but will write a lot to the log relatively quickly. Use only when necessary.</ColonyManagerRedux.DoVerboseLogging.Tip>
    <ColonyManagerRedux.ManagerDefaultUpdateInterval>Default update interval</ColonyManagerRedux.ManagerDefaultUpdateInterval>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated>New jobs should be immediately handled</ColonyManagerRedux.NewJobsAreImmediatelyOutdated>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>When this setting is enabled, a newly created manager job will immediately require a manager to go deal with it. Otherwise, the job will start out as updated and not be worked on until its update interval elapses for the first time.</ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>
    <ColonyManagerRedux.RecordHistoricalData>Record historical data</ColonyManagerRedux.RecordHistoricalData>
    <ColonyManagerRedux.RecordHistoricalData.Tip>With this setting enabled, the mod will, for each manager job that exists, ask it to record its data a certain number of times per day, data which later gets used to show graphs of how the values have changed over time. This data recording process isn't free, so if you're having performance issues, you could try turning this setting off.</ColonyManagerRedux.RecordHistoricalData.Tip>
    <ColonyManagerRedux.NewJobsShouldBeResourceLocked>New jobs should be resource locked</ColonyManagerRedux.NewJobsShouldBeResourceLocked>
    <ColonyManagerRedux.NewJobsShouldBeResourceLocked.Tip>When this setting is enabled, new jobs that let you select which map resources to gather start out locked to only allow you from choosing the resources that map can possibly provide. Otherwise, new jobs will start out letting you pick from all the resources registered with the game, even those not normally possible on the map.</ColonyManagerRedux.NewJobsShouldBeResourceLocked.Tip>
    <ColonyManagerRedux.ManagerSettings.NoMaxDesignationsPerJob>Jobs can manage as many designations as they need to meet targets</ColonyManagerRedux.ManagerSettings.NoMaxDesignationsPerJob>
    <ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob>Jobs can only manage up to {0} designations at any time</ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob>
    <ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob.Tip>A manager will only maintain as many designations as this setting allows for, even if it's fewer than it would take to meet a job target. Note that not necessarily all types of manager jobs can or will respect this setting.</ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob.Tip>
    <ColonyManagerRedux.ShowInfoCardButtonsWherePossible>Show info card buttons where possible</ColonyManagerRedux.ShowInfoCardButtonsWherePossible>
    <ColonyManagerRedux.ShowInfoCardButtonsWherePossible.Tip>When this setting is enabled, info card buttons will be shown for things in manager jobs where applicable, providing quick access to relevant information.</ColonyManagerRedux.ShowInfoCardButtonsWherePossible.Tip>
    <ColonyManagerRedux.ManagerSettings.DefaultThresholdSettings>Default threshold settings</ColonyManagerRedux.ManagerSettings.DefaultThresholdSettings>
    <ColonyManagerRedux.ManagerSettings.TargetCount>Active if: &lt; {0}</ColonyManagerRedux.ManagerSettings.TargetCount>
    <ColonyManagerRedux.ManagerSettings.DefaultTaskPriorityOrder>Default task priority</ColonyManagerRedux.ManagerSettings.DefaultTaskPriorityOrder>
    <ColonyManagerRedux.ManagerSettings.CustomUpdateIntervals>Custom update intervals</ColonyManagerRedux.ManagerSettings.CustomUpdateIntervals>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByHour>- hour</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByHour>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByHour>+ hour</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByHour>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByDay>- day</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByDay>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByDay>+ day</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByDay>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByYear>- year</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByYear>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByYear>+ year</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByYear>
    <ColonyManagerRedux.ManagerSettings.AddCustomUpdateIntervals>Add new</ColonyManagerRedux.ManagerSettings.AddCustomUpdateIntervals>
    <ColonyManagerRedux.ManagerSettings.DisableManagers>Active managers</ColonyManagerRedux.ManagerSettings.DisableManagers>
    <ColonyManagerRedux.ManagerSettings.DisableManagers.Tip>Removing a manager from this list will make it so that that manager's tab and manager settings will be hidden. Jobs will still show up until manually removed, though. You can turn a manager off if you never use a specific manager's features, e.g., to declutter your UI. Changes here will not take effect until the manager tabs window is closed and re-opened or the mod's settings windows is closed and re-opened.</ColonyManagerRedux.ManagerSettings.DisableManagers.Tip>
    <ColonyManagerRedux.ManagerSettings.TemplateSettings>Job templates</ColonyManagerRedux.ManagerSettings.TemplateSettings>
    <ColonyManagerRedux.ManagerSettings.AutoApplyDefaultTemplateOnFirstStation>Automatically apply default template on first manager station</ColonyManagerRedux.ManagerSettings.AutoApplyDefaultTemplateOnFirstStation>
    <ColonyManagerRedux.ManagerSettings.AutoApplyDefaultTemplateOnFirstStation.Tip>When enabled, the default job template (if any is set below) is automatically applied the first time a manager station is built on a map, saving you from having to set up jobs from scratch. You can save a template from the Import/Export manager tab.</ColonyManagerRedux.ManagerSettings.AutoApplyDefaultTemplateOnFirstStation.Tip>
    <ColonyManagerRedux.ManagerSettings.DefaultTemplate>Default template</ColonyManagerRedux.ManagerSettings.DefaultTemplate>
    <ColonyManagerRedux.ManagerSettings.DefaultTemplate.None>None</ColonyManagerRedux.ManagerSettings.DefaultTemplate.None>
    <ColonyManagerRedux.ManagerSettings.GravshipSettings>Gravship settings</ColonyManagerRedux.ManagerSettings.GravshipSettings>
    <ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution>When a gravship lands where there are also local manager jobs</ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution>
    <ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.AlwaysAsk>Always ask</ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.AlwaysAsk>
    <ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.KeepLocalJobs>Only keep local jobs</ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.KeepLocalJobs>
    <ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.KeepGravshipJobs>Only keep gravship jobs</ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.KeepGravshipJobs>
    <ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.MergeJobs>Always keep both (merge)</ColonyManagerRedux.ManagerSettings.GravshipJobConflictResolution.MergeJobs>
    <ColonyManagerRedux.ManagerSettings.AlertSettings>Alert settings</ColonyManagerRedux.ManagerSettings.AlertSettings>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert>Show an alert when no pawn has been assigned to managing</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert.Tip>Show an alert when a map has manager tasks configured, but no pawn has been assigned to managing, nor has an AI manager yet been built.</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert>Show an alert when no manager building has been built</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert.Tip>Show an alert when a map has manager tasks configured, but no manager desk or AI manager has been built</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert>Show an alert when manager desk is no longer needed</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert.Tip>Show an alert when a map has an AI manager, so manager desks are no longer needed</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert>Show an alert when manager jobs are not updating</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert.Tip>Show an alert when manager jobs are not updating, which can happen if pawns assigned to managing are otherwise occupied with other things for too long or are otherwise incapacitated.</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingAlert>Days before showing alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingHighAlert>Days before showing high alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingHighAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingCriticalAlert>Days before showing critical alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingCriticalAlert>
    <ColonyManagerRedux.PerformanceSettingsTabLabel>Performance</ColonyManagerRedux.PerformanceSettingsTabLabel>
    <ColonyManagerRedux.PerformanceSettings.OperationsPerTick>Operations per tick: {0}</ColonyManagerRedux.PerformanceSettings.OperationsPerTick>
    <ColonyManagerRedux.PerformanceSettings.OperationsPerTick.Tip>Controls how many operations can be performed per game tick. What exactly counts as an operation is decided on a case-by-case basis. Lower values may help improve performance but also increases the time it takes for jobs to complete. Very low values can make jobs take extremely long to complete.</ColonyManagerRedux.PerformanceSettings.OperationsPerTick.Tip>
    <ColonyManagerRedux.PerformanceSettings.TicksBetweenOperations>Ticks between operations: {0}</ColonyManagerRedux.PerformanceSettings.TicksBetweenOperations>
    <ColonyManagerRedux.PerformanceSettings.TicksBetweenOperations.Tip>Controls how many ticks must pass between doing operations. Higher values may help improve performance but also increases the time it takes for jobs to complete. Very high values can make jobs take extremely long to complete.</ColonyManagerRedux.PerformanceSettings.TicksBetweenOperations.Tip>
    <ColonyManagerRedux.PerformanceSettings.AdvancedPerformanceSettings>Advanced: Enable per-operation performance settings</ColonyManagerRedux.PerformanceSettings.AdvancedPerformanceSettings>
    <ColonyManagerRedux.PerformanceSettings.AdvancedPerformanceSettings.Tip>This allows you to configure performance options on a per-operation basis instead of using a single value globally for fine tuning.</ColonyManagerRedux.PerformanceSettings.AdvancedPerformanceSettings.Tip>
    <ColonyManagerRedux.PerformanceSettings.UseGlobalValue>Use default value</ColonyManagerRedux.PerformanceSettings.UseGlobalValue>
    <ColonyManagerRedux.PerformanceSettings.UseGlobalValue.Tip>Use the default value for this coroutine instead of a custom value.</ColonyManagerRedux.PerformanceSettings.UseGlobalValue.Tip>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Utilities.CountProductsCoroutine>Counting products on map and in storage</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Utilities.CountProductsCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.ManagerJob.DistancesCoroutine>Calculating distances to targets</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.ManagerJob.DistancesCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging.GetCurrentDesignatedCountCoroutine>Foraging: Get current designated count</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging.GetCurrentDesignatedCountCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging.TryDoJobCoroutine>Foraging: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.DoClearAreaDesignations>Forestry: Clear area designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.DoClearAreaDesignations>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.GetCurrentDesignatedCountCoroutine>Forestry: Get current designated count</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.GetCurrentDesignatedCountCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.TryDoJobCoroutine>Forestry: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.DoLoggingJob>Forestry: Logging job designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry.DoLoggingJob>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetResourceInCorpses>Hunting: Get resources in corpses</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetResourceInCorpses>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetMeatInDesignationsCoroutine>Hunting: Get meat in designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetMeatInDesignationsCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetLeatherInDesignationsCoroutine>Hunting: Get leather in designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.GetLeatherInDesignationsCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.TryDoJobCoroutine>Hunting: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.DoUnforbidCorpses>Hunting: Unforbid corpses</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting.DoUnforbidCorpses>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.TryDoJobCoroutine>Livestock: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.AddRelevantGameDesignations>Livestock: Add relevant game designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.AddRelevantGameDesignations>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoTrainingJobs>Livestock: Do training jobs</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoTrainingJobs>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoAreaRestrictions>Livestock: Do area restrictions</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoAreaRestrictions>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoCullingJobs>Livestock: Do culling jobs</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoCullingJobs>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoTamingJobs>Livestock: Do taming jobs</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Livestock.DoTamingJobs>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.AddRelevantGameDesignations>Mining: Add relevant game designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.AddRelevantGameDesignations>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.GetCountInChunksCoroutine>Mining: Get count in chunks</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.GetCountInChunksCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.GetCountInDesignationsCoroutine>Mining: Get count in designations</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.GetCountInDesignationsCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.TryDoJobCoroutine>Mining: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.RefreshBuildingLists>Power: Refresh building lists</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.RefreshBuildingLists>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.RefreshCompLists>Power: Refresh comp lists</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.RefreshCompLists>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.TryDoJobCoroutine>Power: Job orchestration</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.TryDoJobCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.CompManagerJobHistory.DoHistoryUpdateCoroutine>Job history: Update</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.CompManagerJobHistory.DoHistoryUpdateCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power_x002B_HistoryWorker.HistoryUpdateCoroutine>Power job history: update</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power_x002B_HistoryWorker.HistoryUpdateCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging_x002B_History.GetCountForHistoryChapterCoroutine>Foraging: Get count for history chapter</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Foraging_x002B_History.GetCountForHistoryChapterCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry_x002B_History.GetCountForHistoryChapterCoroutine>Forestry: Get count for history chapter</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Forestry_x002B_History.GetCountForHistoryChapterCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting_x002B_History.GetCountForHistoryChapterCoroutine>Hunting: Get count for history chapter</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Hunting_x002B_History.GetCountForHistoryChapterCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining_x002B_History.GetCountForHistoryChapterCoroutine>Mining: Get count for history chapter</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Mining_x002B_History.GetCountForHistoryChapterCoroutine>
    <ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.HistoryUpdateCoroutine>Power: History update</ColonyManagerRedux.PerformanceSettings.ColonyManagerRedux.Managers.ManagerJob_Power.HistoryUpdateCoroutine>
</LanguageData>
