<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <ColonyManagerRedux.SharedSettingsTabLabel>Shared</ColonyManagerRedux.SharedSettingsTabLabel>
    <ColonyManagerRedux.GeneralSettingsTabLabel>General</ColonyManagerRedux.GeneralSettingsTabLabel>

    <ColonyManagerRedux.ManagerDefaultUpdateInterval>Default update interval</ColonyManagerRedux.ManagerDefaultUpdateInterval>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated>New jobs should be immediately handled</ColonyManagerRedux.NewJobsAreImmediatelyOutdated>
    <ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>When this setting is enabled, a newly created manager job will immediately require a manager to go deal with it. Otherwise, the job will start out as updated and not be worked on until its update interval elapses for the first time.</ColonyManagerRedux.NewJobsAreImmediatelyOutdated.Tip>
    <ColonyManagerRedux.RecordHistoricalData>Record historical data</ColonyManagerRedux.RecordHistoricalData>
    <ColonyManagerRedux.RecordHistoricalData.Tip>With this setting enabled, the mod will, for each manager job that exists, ask it to record its data a certain number of times per day, data which later gets used to show graphs of how the values have changed over time. This data recording process isn't free, so if you're having performance issues, you could try turning this setting off.</ColonyManagerRedux.RecordHistoricalData.Tip>
    <ColonyManagerRedux.ManagerSettings.NoMaxDesignationsPerJob>Jobs can manage as many designations as they need to meet targets</ColonyManagerRedux.ManagerSettings.NoMaxDesignationsPerJob>
    <ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob>Jobs can only manage up to {0} designations at any time</ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob>
    <ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob.Tip>A manager will only maintain as many designations as this setting allows for, even if it's fewer than it would take to meet a job target. Note that not necessarily all types of manager jobs can or will respect this setting.</ColonyManagerRedux.ManagerSettings.MaxDesignationsPerJob.Tip>

    <ColonyManagerRedux.ManagerSettings.DefaultThresholdSettings>Default threshold settings</ColonyManagerRedux.ManagerSettings.DefaultThresholdSettings>
    <ColonyManagerRedux.ManagerSettings.TargetCount>Active if: &lt; {0}</ColonyManagerRedux.ManagerSettings.TargetCount>

    <ColonyManagerRedux.ManagerSettings.CustomUpdateIntervals>Custom update intervals</ColonyManagerRedux.ManagerSettings.CustomUpdateIntervals>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByHour>- hour</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByHour>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByHour>+ hour</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByHour>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByDay>- day</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByDay>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByDay>+ day</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByDay>
    <ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByYear>- year</ColonyManagerRedux.ManagerSettings.DecreaseCustomUpdateIntervalByYear>
    <ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByYear>+ year</ColonyManagerRedux.ManagerSettings.IncreaseCustomUpdateIntervalByYear>
    <ColonyManagerRedux.ManagerSettings.AddCustomUpdateIntervals>Add new</ColonyManagerRedux.ManagerSettings.AddCustomUpdateIntervals>

    <ColonyManagerRedux.ManagerSettings.DisableManagers>Active managers</ColonyManagerRedux.ManagerSettings.DisableManagers>
    <ColonyManagerRedux.ManagerSettings.DisableManagers.Tip>Removing a manager from this list will make it so that that manager's tab and manager settings will be hidden. Jobs will still show up until manually removed, though. You can turn a manager off if you never use a specific manager's features, e.g., to declutter your UI. Changes here will not take effect until the manager tabs window is closed and re-opened or the mod's settings windows is closed and re-opened.</ColonyManagerRedux.ManagerSettings.DisableManagers.Tip>

    <ColonyManagerRedux.ManagerSettings.AlertSettings>Alert settings</ColonyManagerRedux.ManagerSettings.AlertSettings>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert>Show an alert when no pawn has been assigned to managing</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert.Tip>Show an alert when a map has manager tasks configured, but no pawn has been assigned to managing, nor has an AI manager yet been built.</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoManagerAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert>Show an alert when no manager building has been built</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert.Tip>Show an alert when a map has manager tasks configured, but no manager desk or AI manager has been built</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert>Show an alert when manager desk is no longer needed</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert.Tip>Show an alert when a map has an AI manager, so manager desks are no longer needed</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowNoTableNeededAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert>Show an alert when manager jobs are not updating</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert.Tip>Show an alert when manager jobs are not updating, which can happen if pawns assigned to managing are otherwise occupied with other things for too long or are otherwise incapacitated.</ColonyManagerRedux.ManagerSettings.AlertSettings.ShowJobsNotUpdatingAlert.Tip>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingAlert>Days before showing alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingHighAlert>Days before showing high alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingHighAlert>
    <ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingCriticalAlert>Days before showing critical alert: {0}</ColonyManagerRedux.ManagerSettings.AlertSettings.DaysBeforeShowingCriticalAlert>
</LanguageData>